﻿<div class="input-group">
    <div class="custom-file">
        <input type="file" name="file" class="custom-file--input" id="file">
        <label class="custom-file-label" for="file">Choose file</label>
    </div>
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Import</button>
    </div>
</div>