﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RF Data Importer</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/css/datatables.css" />
    <link rel="stylesheet" href="~/css/datepicker-gijgo.min.css" />
    <link rel="stylesheet" href="~/css/message-dialog.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/fontawesome-all.min.js"></script>
    <script src="~/js/col-reorder-with-resize.js"></script>
    <script src="~/js/datatables-fixed-columns.min.js"></script>
    <script src="~/js/datepicker-gijgo.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/message-dialog.js"></script>
    <script src="~/js/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.js"></script>
</head>
<body>
        <div id="wrapper">

            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-fw fa-file-import"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">RF Data Importer</div>
                </a>

                <hr class="sidebar-divider my-0">

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-upload"></i>
                        <span>Import</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-blue py-2 collapse-inner rounded">
                            <a class="collapse-item" asp-action="index" asp-controller="home">RF Data</a>
                            @*<div class="dropdown-divider"></div>
                            <div class="text-dark font-weight-bold" style="margin-left: 15px;">Master data</div>
                            <div class="dropdown-divider"></div>*@
                            <a class="collapse-item" asp-action="index" asp-controller="door">Doors</a>
                            @*<a class="collapse-item" asp-action="index" asp-controller="employee">Employee</a>*@
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-file-invoice"></i>
                        <span>Report</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                        <div class="bg-blue py-2 collapse-inner rounded">
                            <a class="collapse-item" asp-action="index" asp-controller="report">RF Data</a>
                            @*<div class="dropdown-divider"></div>
                            <div class="text-dark font-weight-bold" style="margin-left: 15px;">Master data</div>
                            <div class="dropdown-divider"></div>*@
                            <a class="collapse-item" asp-action="getdoors" asp-controller="report">Doors Master Data</a>
                            @*<a class="dropdown-item" href="#">Employees Master </a>*@
                        </div>
                    </div>
                </li>


                @*<div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>*@
            </ul>

            <div id="content-wrapper" class="d-flex flex-column">

                <div id="content" style="overflow-x: scroll;">

                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <ul class="navbar-nav ml-auto">
                            @*<li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Anna Sthesia</span>
                                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>*@
                        </ul>
                    </nav>

                    <div class="container-fluid">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>

                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; 2020 - RF Data Importer</span>
                        </div>
                    </div>
                </footer>
            </div>

        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


    <partial name="~/Views/Shared/_Spinner.cshtml" />

    @RenderSection("Scripts", required: false)
</body>
</html>
