﻿<!-- Loading Div  -->
<div class="modal fade" id="divSpinner" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <h5><span id="spanMessage"></span></h5>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-primary" style="width: 4rem; height: 4rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Loading Div  -->