﻿<form id="frmDateRange" asp-controller="Report" asp-action="Index" method="get" enctype="multipart/form-data">
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
            <tr>Date Range</tr>
            <tr>
                <td><input type="text" id="dateFrom" name="dateFrom" style="width: 130px;" maxlength="10" readonly></td>
                <td width="5%" style="text-align: right;">to</td>
                <td><input style="margin-left: 10px;width: 130px;" type="text" id="dateTo" name="dateTo" maxlength="10" readonly></td>
                <td>
                    <button type='submit' id='btnFilterDate' class='btn btn-outline-primary' style="margin-left: 20px;" title="Filter date range">
                        <span class='fas fa-filter'></span>
                    </button>
                </td>
                <td>
                    <input type="checkbox" value="true" id="chkUserWithoutExit" name="chkUserWithoutExit" />
                    <label for="chkUserWithoutExit">Users without exit</label>
                    <input type="hidden" value="false" id="chkUserWithoutExit" name="chkUserWithoutExit" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
    <script>
        $(function () {
            $('#dateFrom').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd-mmm-yyyy'
            });
            $('#dateTo').datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd-mmm-yyyy'
            });
            setDefaultDate();
        });
        function setDefaultDate() {
            var date = new Date();
            var fromDate = moment(date).subtract(1, 'd').format('DD-MMM-YYYY');
            var toDate = moment(date).format('DD-MMM-YYYY');
            $('#dateFrom').val(fromDate);
            $('#dateTo').val(toDate);
        }
    </script>
    <style>
        .custom-control-label::before,
        .custom-control-label::after {
            top: .8rem;
            width: 1.25rem;
            height: 1.25rem;
        }
</style>