﻿@model List<RF_Data_Importer.ViewModels.DoorViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5>List of Doors</h5>
    <table class="table table-striped" style="width:100%" id="tblDoors" border="0" cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Door</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    var counter = 1;
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(counter++)</td>
                            <td>@item.Door</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9" class="text-center">No such data.</td>
                    </tr>
                }
            </tbody>
        </table>

    <script>
        $(function () {
            $('#tblDoors').DataTable({
                "autoWidth": true,
                "responsive": true,
                columns: [
                    { name: "ID" },
                    { name: "Door" }
                ],
                dom: "<'row'<'col-sm-12 col-md-6'R><'col-sm-12 col-md-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-4'i><'col-sm-12 col-md-6'p><'col-sm-12 col-md-2'l>>"
            });
            $('.dataTables_length').css({ 'float': 'right' });
            $('.dataTables_paginate').css({ 'float': 'left' });

        });
    </script>