﻿@model List<RF_Data_Importer.ViewModels.RFViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Report</h4>
    <partial name="~/Views/Report/_DateRange.cshtml" />
    <table class="table table-striped" style="width:100%" id="tblRFData" border="0" cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Access Message</th>
                    <th scope="col">Door</th>
                    <th scope="col">Direction</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Username</th>
                    <th scope="col">CardNo</th>
                    <th scope="col">Local Time</th>
                    <th scope="col">Date Imported</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.AccessMessage</td>
                            <td>@item.Door</td>
                            <td>@item.Direction</td>
                            <td>@item.Fullname</td>
                            <td>@item.Username</td>
                            <td>@item.CardNo</td>
                            <td>@item.LocalTime</td>
                            <td>@item.DateImported</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9" class="text-center">No such data.</td>
                    </tr>
                }
            </tbody>
        </table>

    <script>
        /* Custom filtering function which will search data in column four between two values */
        function filterDate() {
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var valid = true;
                    var min = moment($("#dateFrom").val()).format("DD-MMM-YYYY"); + " 00:00:00";
                    if (!min.isValid()) { min = null; }

                    var max = moment($("#dateTo").val()).format("DD-MMM-YYYY"); + " 23:59:59";
                    if (!max.isValid()) { max = null; }

                    if (min === null && max === null) {
                        // no filter applied or no date columns
                        valid = true;
                    }
                    else {
                        $.each(settings.aoColumns, function (i, col) {
                            if (col.type == "date") {
                                var cDate = moment(data[i]);
                                if (cDate.isValid()) {
                                    if (max !== null && max.isBefore(cDate)) {
                                        valid = false;
                                    }
                                    if (min !== null && cDate.isBefore(min)) {
                                        valid = false;
                                    }
                                }
                                else {
                                    valid = false;
                                }
                            }
                        });
                    }
                    return valid;
                });
        }

        $(function () {
            if ('@ViewBag.FromDate' !== '01-Jan-0001') {
                $('#dateFrom').val('@ViewBag.FromDate');
                $('#dateTo').val('@ViewBag.ToDate');
            }
            if ('@ViewBag.IsUserWithoutExit' === 'True') {
                $('#chkUserWithoutExit').prop('checked', true);
            }
            var count = '@Model.Count';
            if (count > 0) {
                $('#tblRFData').DataTable({
                    "autoWidth": true,
                    "responsive": true,
                    "order": [[ 5, "asc" ]],
                    columns: [
                        { name: "ID" },
                        { name: "AccessMessage" },
                        { name: "Door" },
                        { name: "Direction" },
                        { name: "Fullname" },
                        { name: "Username" },
                        { name: "CardNo" },
                        { name: "LocalTime", type: "date" },
                        { name: "DateImported", type: "date" }
                    ],
                    dom: "<'row'<'col-sm-12 col-md-6'R><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-4'i><'col-sm-12 col-md-6'p><'col-sm-12 col-md-2'l>>"
                });
            }

            $("#frmDateRange").submit(function (e) {
                showSpinner("", true);
            });
            // Event listener to the two range filtering inputs to redraw on input
            @*$("#btnFilterDate").on("click", function () {
                ////filterDate();
                ////$('#tblRFData').DataTable().draw();
                $.ajax({
                    url: '@Url.Action("Index","Report")',
                    type: 'POST',
                    //contentType: 'application/json',
                    dataType: 'json',
                    beforeSend: function () {
                        $(this).prop("disabled", true);
                        showSpinner("", true);
                    },
                    data: {
                        dateFrom: $('#dateFrom').val(),
                        dateTo: $('#dateTo').val()
                    },
                    success: function (data) {
                        var d = data;
                    },
                    complete: function () {
                        $(this).prop("disabled", false);
                        showSpinner("", false);
                    },
                });
                $('.dataTables_length').css({ 'float': 'right' });
                $('.dataTables_paginate').css({ 'float': 'left' });

            });*@

        });
    </script>
