﻿@model RF_Data_Importer.ViewModels.RFViewModel
@{
    ViewData["Title"] = "Import the Door Master Data";
}

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
            </div>
            <div class="card-body">
                <form id="frmRFDataImport" asp-controller="Door" asp-action="Index" method="post" enctype="multipart/form-data">
                    <partial name="~/Views/Shared/_FileUpload.cshtml" />
                    @{ string message = @ViewBag.Message == null ? "Please click Browse and choose the file and then click Import" : @ViewBag.Message; }
                    <p class="font-italic p-file mt-2">@Html.Raw(@message)</p>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#frmDoor").submit(function (e) {
            if ($("input:file").val() !== '') {
                showSpinner("", true);
            }
        });
    });
</script>