﻿.message-success {
    background-color: #28A745;
    color: #fff;
}

.message-error {
    background-color: #DC3545;
    color: #fff;
}

.message-warning {
    background-color: #FFC107;
    color: #fff;
}

.message-confirm {
    background-color: #007BFF;
    color: #fff;
}

.message-information {
    background-color: #17A2B8;
    color: #fff;
}

.modal-header-border-round {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#messageDialog, #confirmDialogBox, #divSpinner {
    z-index: 99999;
    top: 25%;
    /*left: 5%;*/
    /*padding: 20px;*/
}
